:root
{
    --colormain:#74330B;

}

body
{
    background-color: #fff4e7;
    margin: 0;
    padding: 0;
}

header
{
  display: flex;
  justify-content:flex-start;
  text-align: center;
  gap: 30px;
  border: 2px solid var(--colormain);
  box-shadow: 2px 2px 2px 2px var(--colormain);
  background-color: rgba(188, 128, 59, 0.2);
  backdrop-filter: blur(30px);
}
header img
{
    padding-top: 10px;
}

header h1
{
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--colormain);
    font-size: 2em;
    text-shadow: 5px 5px 10px #c5a780;
    text-decoration: underline;
}

.content
{
    padding-left: 10px;
}

.content h1
{
    color: var(--colormain);
    font-family: cursive;
    text-decoration:underline;
}

.content h2
{
    color: var(--colormain);
    font-family: cursive;
    text-decoration:underline;
}
.content p
{
    font-family: Merriweather, Georgia, "Times New Roman", serif;
    padding-left: 30px;
    letter-spacing: 2px;
}

.content li
{
    list-style: none;
    padding-left: 20px;
    gap: 10px;
}

a:hover
{
    color: black;
}

#books
{
   display: flex;
   justify-content:center;
   align-items: center;
   gap:100px;
   
}
#books li
{
    padding-left: 30px;
}

#books p
{
    padding-left: 5px ;
    letter-spacing: 2px;
    font-family: cursive;
    color: brown;
    text-decoration:underline;
}
.myself
{
  background-color: #e6c8ae;
  border: 2px solid var(--colormain);
  box-sizing: border-box;
  width: 500px;
  height: 600px;
  padding-left: 10px;
  margin-top: 80px;
  margin-left: 400px;
  box-shadow: 3px 3px 4px 8px var(--colormain) ;
  border-radius: 7px;
}

.myself h1
{
 color: var(--colormain);
 font-family: cursive;
 text-decoration:underline;
}

.myself p
{
    font-family: Merriweather, Georgia, "Times New Roman", serif;
    padding-left: 10px;
}

.myself img
{
    border-radius:10cm;
    box-shadow: 3px 3px 7px 7px var(--colormain) ;
    position: relative;
    margin-left:80px;
}

.footer
{
    background-color: var(--colormain);
    height: 50px;
    width: 1260px;
    color: beige;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 20px;
    border: 3px solid var(--colormain);
}

time
{
    text-align: end;
}
