/*CSS variable declaration*/
:root
{
    --colormain:#74330B;
    --textshadowall:5px 5px 10px #c5a780;
    --boxshadowall :2px 2px 6px 3px var(--colormain);
    --basicfont : Merriweather, Georgia, "Times New Roman", serif;
}


/*applying on all body */
body
{
    background-color: #fff4e7;
    margin: 0;
    padding: 0;
}

/*header designing including logo and page name*/
header
{
    display: flex;
    justify-content:flex-start;
    text-align: center;
    gap: 30px;
    border: 2px solid var(--colormain);
    box-shadow:var(--boxshadowall);
    background-color: rgba(188, 128, 59, 0.2);
    border-radius: 5px;
}
header img
{
    padding-top: 10px;
}

header h1
{
    font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--colormain);
    font-size: 2em;
    text-shadow: var(--textshadowall);
    text-decoration: underline;
}



/*content section designing including the time tag*/
main
{
   padding-left: 10px;
   font-size: 1em;
}

main h1
{
    color: var(--colormain);
    font-family: cursive;
    text-decoration:underline;
    font-size: 2em;
}

main p
{
    font-family: var(--basicfont);
    letter-spacing: 1px;
    line-height: 1.5em;
}

main img
{
    padding-left: 30px;
    width: auto;
    height: auto;

}

#first::first-letter
{
    font-weight: bolder;
    font-size:larger;
}


#books
{
   display: flex;
   justify-content:center;
   align-items: center;
   gap:10px;
   margin-top: 70px;
   
}
#books li
{
    list-style: none;
}

#books li p:hover
{
    color: black;
}

#books p
{
    padding-top: 10px;
    padding-left: 30px ;
    letter-spacing: 1px;
    font-family: cursive;
    color: brown;
    text-decoration:underline;
    text-shadow:var(--textshadowall);
}

#books img
{
    width: 200px;
    height: 300px;
    padding-right: 20px;
}


time
{
    color: gray;
}


/*profile card designing */
.profilecard
{
    background-color: #e6c8ae;
    border: 2px solid var(--colormain);
    box-sizing:border-box;
    width: 800px;
    height: 400px;
    padding-left: 10px;
    margin-top: 80px;
    margin-left: 300px;
    box-shadow: var(--boxshadowall) ;
    border-radius: 7px;
}

.profilecard h1
{
    color: var(--colormain);
    font-family: cursive;
    text-decoration:underline;
    padding-left: 10px;
}

.profilecard p
{
    font-family: var(--basicfont);
    padding-left: 10px;
}

.profilecard img
{
    border-radius:10cm;
    box-shadow:var(--boxshadowall);
    margin-left: 410px;
    margin-top: -90px;
    width: 210px ;
    height: 210px;
}


span[class="texthighlight"]
{
   color: var(--colormain);
   text-decoration:underline;
   font-weight: bold;
   text-shadow: var(--textshadowall);
}

span[class="texttransform"]
{
    text-decoration:underline;
}

span[class="texttransform"]:hover
{
    text-transform:uppercase;
    font-style: italic;
    font-weight: 600;
}


/*footer designing */
.footer
{
    background-color: var(--colormain);
    height: auto;
    width: auto;
    color: beige;
    text-align: center;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 20px;
    border: 3px solid var(--colormain);
}
